version: "3.0"

services:
  nginx:
    build: requirements/nginx
    image: nginx:1.0
    container_name: nginx
    ports:
      - "443:443"
    environment:
      DOMAIN: ${DOMAIN}
    networks:
      - inception
    volumes:
      - wordpress:/var/www/html

  wordpress:
    build: requirements/wordpress
    image: wordpress:1.0
    container_name: wordpress
    environment:
      DOMAIN: ${DOMAIN}
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_ROOT_HOST: ${MARIADB_ROOT_HOST}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
      WP_TITLE: ${WP_TITLE}
      WP_ADMIN_USR: ${WP_ADMIN_USR}
      WP_ADMIN_PWD: ${WP_ADMIN_PWD}
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
      WP_USR: ${WP_USR}
      WP_PWD: ${WP_PWD}
      WP_EMAIL: ${WP_EMAIL}
    networks:
      - inception
    depends_on:
      - mariadb
    volumes:
      - wordpress:/var/www/html
    restart: always

  mariadb:
    build: requirements/mariadb
    image: mariadb:10.1
    container_name: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception
    restart: always

volumes:
  wordpress:
    driver: local
    driver_opts:
      type: volume
      o: bind
      device: /home/mamaro-d/data/wordpress
  mariadb:
    driver: local
    driver_opts:
      type: volume
      o: bind
      device: /home/mamaro-d/data/mariadb

networks:
  inception:
    driver: bridge
    name: inception
